# use glob syntax
syntax: glob

*.class
*.log
*.swp
.#*
.DS_Store

# ignore Maven build directories and Eclipse, Netbeans project files
target
.classpath
.project
.settings
*.iml
*.ipr
*.iws
nbactions.xml

# ignore IDEA project files for local workspace settings
workspace.xml
tasks.xml

# switch to regexp syntax
syntax: regexp
\.orig$
\.orig\..*$
\.chg\..*$
\.rej$
\.conflict\~$
