/********************************************
 *                                          *
 *   ExerciseViewer CSS definitions.        *
 *                                          *
 ********************************************/

/* bold label for section headers */
.label-header {
    /* Default System font family on macOS does not support bold font */
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

/* bordered tab pane (otherwise frame is not visible) */
.tabpane-bordered {
    -fx-border-color: #c0c0c0;
}

/* table column header must use left alignment and not use bold font */
.table-view .column-header .label {
    -fx-alignment: center-left;
    -fx-font-weight: normal;
}
